{% extends 'registeration/nav.html' %}
{% load static %}
{% block content %}
      <!-- inner page section -->
      <section class="inner_page_head">
         <div class="container_fuild">
            <div class="row">
               <div class="col-md-12">
                  <div class="full">
                     <h3>Add a New Password</h3>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- end inner page section -->
      <form style="width:40vw;margin-left:30vw;" method="post">
         {% csrf_token %}
      <div class="form-group">
         <label for="old_pass">Enter Your Old Password</label>
         <input type="password" name="old_password" class="form-control" id="old_pass" placeholder="Enter Your Old Password">
         <label for="new_pass">Enter New PassWord</label>
         <input type="password" name="new_password" class="form-control" id="new_pass" placeholder="Enter New Password">
         <label for="re_pass">Confirm New Password</label>
         <input type="text" name="confirm_password"  class="form-control" id="re_pass" placeholder="Confirm Password">
      </div>
         <button type="submit" name="changepassword" value="submit" class="btn btn-danger" style="width:40vw;margin-bottom:3vh;">Update Password</button>
      </form>
      <!-- footer section -->
{% endblock content %}