{% extends 'registeration/nav.html' %}
{% load static %}
{% block content %}
    <div class="frow">
        <div class="fcolumn">
            <img src="{% static 'images/login.jpg' %}" alt="login_image" height="100%" width="100%" class="fimg">
        </div>
        <div class="fcolumn" autocomplete="off">
            <div style="font-size: 40px; position:relative;top:5vh;left:5vw;font-weight: bold; color: rgb(73, 83, 194);">Login Form <br> To Come Inside<br> Moonj World</div>
            <div class="fform-div">
            <form action="" method="post">
               {% csrf_token %}
               {% if messages %}
                  {% for message in messages %}
                    <div class="alert alert-info">
                      {{ message }}
                    </div>
                  {% endfor %}
      
                {% endif %}
                <div class="form-group">
                  <label for="email">Email address:</label>
                  <input type="email" class="form-control" placeholder="Enter email" id="email" name="email">
                </div>
                <div class="form-group">
                  <label for="pwd">Password:</label>
                  <input type="password" class="form-control" placeholder="Enter password" id="pwd" name="password">
                  <div><a href="/forgotPassword">frogot Password</a></div>
                </div>
                <button type="submit" class="btn btn-primary" value="login" name="login">Submit</button>
                <div>create a new Account <a href="/signup">register</a></div>
              </form>
            </div>
        </div>
    </div>
  {% endblock content %}